body{
    background-color: hsl(225, 100%, 94%);
    margin: 0;
    text-align: center;
    font-size: 16px;
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 500;
    color: hsl(224, 23%, 55%);
}

.pattern{
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.container{
    position: relative;
    width: 450px;
    margin: 10% auto;
    background-color: white;
    border-radius: 20px;
    padding-bottom: 15px;
}

.hero{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

h1{
    font-weight: 900;
    color: hsl(223, 47%, 23%);
    margin-top: 40px ;
}

.text{
    padding:0 50px;
    line-height: 30px;
}

.inner-container{
    background-color: hsl(225, 100%, 98%);
    padding:10px;
    border-radius: 15px;
    position: relative;
    margin: 30px auto;
}
.music{
    float: left;
    margin-top: 7px;
    width: 60px;
}

.annual{
    text-align: left;
    margin: 5px;
    margin-left: 75px;
    font-weight: 700;
    color: hsl(223, 47%, 23%);
}

.price{
    text-align: left;
    margin: 5px;
    margin-left: 75px;
}

.change{
    position: absolute;
    bottom:15px;
    right:20px;
    text-decoration: underline;
    color: hsl(245, 75%, 52%);
}
.proceed{
    background-color: hsl(245, 75%, 52%);
    color: white;
    padding: 15px 60px;
    border-radius: 15px;
    box-shadow: 0px 15px 15px hsl(225, 100%, 94%);
}

.cancel{
    margin-top: 20px;
}

.attribution{
    position: relative;

}